[submodule "asutton/clang"]
	path = asutton/clang
	url = https://github.com/asutton/clang.git
[submodule "asutton/llvm"]
	path = asutton/llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "matus-chochlik/clang"]
	path = matus-chochlik/clang
	url = https://github.com/matus-chochlik/clang.git
[submodule "matus-chochlik/llvm"]
	path = matus-chochlik/llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "drec357/clang-meta"]
	path = drec357/clang-meta
	url = https://github.com/drec357/clang-meta.git
